body {
    background: rgb(82, 81, 81);
    font-size: 1rem;
}

#topo {
    background: orange;
    background-image: url(imagens/rocketseat.png);
    height: 250px;
    display: flex;
    justify-content: space-between;   
}



.logo {
    background: url(imagens/rocket-logo-1.png) no-repeat top center;
    width: 250px;
    height: 250px;
   text-indent: -3000px;
}

#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
   
   
}
#menu ul li {
    display: inline;
}

a {
    text-decoration: none;
}

#container {
    width: 920px;
    margin: 10px auto;
    background: #fff; 
    border: 1px solid red;
}

.hamburger {
    background-color: rgba(128, 0, 128, 0.3);
    position: absolute;
    top: 0;
    right: 0;
}
.nav-item:hover {
    background: #fff;
}





/* Nabegação */
nav {
    display: flex;
}

footer {
    
    display: flex;
    justify-content: center;
    background: #ccc;
}

/* 
Formatação Geral
*/


